In [90]:
import pandas as pd
df=pd.read_excel("Database.xlsx",index_col=[0])

In [77]:
df

   User_id      Name  Right  Left
0        1        s1    3.5   2.5
1        2        sa    2.5   3.6
2        3  Subhash1    2.5   3.6

In [88]:
x=df[df["Name"]=="Subhash1"]["User_id"]

In [93]:
df.iloc[[0]]

   User_id Name  Right  Left
0        1   s1    3.5   2.5

In [102]:
id=3

print(name,right,left)

Subhash1 2.5 3.6